---
import { Icon } from "astro-icon";
---
<div id="profile-galleries" class="snap-center flex-shrink-0 w-screen max-w-[700px] h-full sm:h-auto flex flex-col justify-start mobile-scrollbar overflow-y-auto p-5 gap-5">
    <div class="flex justify-end">
        <a href="/create-gallery" class="bg-action text-white rounded-md self-end flex items-center gap-3 px-3 py-1">
            <Icon name="fa-solid:plus" class="w-5 h-5"/>
            <span>Crear galería</span>
        </a>
    </div>
    <div class="grid grid-cols-3 gap-1">
        {
            Array(4).fill(0).map((e, i) => {
                return (
                    <div class="relative w-full bg-white rounded-b-md flex flex-col items-center gap-3">
                        <div class="cursor-pointer bg-white text-gray-400 absolute top-2 right-2 shadow-lg p-2 flex justify-center items-center rounded-md">
                            <label data-popup={`gallery-options-popup-${i}`} for={`gallery-options-popup-${i}`} class="peer relative">
                                <input data-popup-target={`gallery-options-popup-${i}`} class="hidden" type="checkbox" id={`gallery-options-popup-${i}`}/>
                                <Icon name="fa-solid:ellipsis-v" class="w-5 h-5"/>
                            </label>
                            <div data-popup={`gallery-options-popup-${i}`} class="peer-has-[:checked]:scale-100 scale-0 absolute flex flex-col gap-3 bg-white p-2 top-[calc(100%+.75rem)] left-0 rounded-md shadow-strong transition-all">
                                <label class="cursor-pointer" for="share-gallery-modal">
                                    <Icon name="fa-solid:share" class="w-5 h-5"/>
                                </label>
                                <a href={`/edit-gallery/1`}>
                                    <Icon name="fa-solid:pen" class="w-5 h-5"/>
                                </a>
                                <label class="cursor-pointer" for="delete-gallery-confirmation-modal">
                                    <Icon name="fa-solid:trash-alt" class="w-5 h-5"/>
                                </label>
                            </div>
                        </div>
                        <img class='aspect-square snap-center object-cover object-center' src="https://assets.easybroker.com/property_images/2688782/42240426/EB-JH8782.jpeg" alt="gallery-item"/>
                    </div>
                )
            })
        }
    </div>
</div>