---
import { Icon } from 'astro-icon';

interface Props {
    id: string,
    title: string,
}

const { id, title } = Astro.props;
---

<div id={id} class={`transform has-[:checked]:translate-y-0 translate-y-full transition-all z-50 absolute w-full h-full bg-white p-5 flex flex-col justify-between gap-10 self-end`}>
    <input id={`${id}-trigger`} class="hidden" type="checkbox">
    <div class="flex flex-col gap-10 overflow-y-auto mobile-scrollbar">
        <div class="sticky top-0 py-3 bg-white flex items-center gap-10 text-gray-400">
            <label for={`${id}-trigger`} class='text-xl'>
                <Icon name="fa-solid:chevron-left" class="w-5 h-5"/>
            </label>
            <span class='font-bold text-xl text-gray-800'>
                { title }
            </span>
        </div>
        <slot />
    </div>
    <div class="flex gap-5">
        <label for={`${id}-trigger`} class='bg-gray-100 text-gray-400 py-1 rounded-lg text-lg text-center flex-grow'>Cancelar</label>
        <label for={`${id}-trigger`} class='bg-amber-100 text-amber-400 py-1 rounded-lg text-lg text-center flex-grow'>Confirmar</label>
    </div>
</div>